body {    font-family: 'Vazir', sans-serif;
  background-color: #7e7e7e;
  padding: 0;
  justify-content: left;}
.dashboard-container {
  width: 100%;    display: flex;
  height: 100vh;    direction: ltr;
  text-align: left;}
.dashboard-header {
  width: 100%;    background-color: #323a43;
  color: white;    padding: 1rem;
  display: flex;    justify-content: center;
  align-items: center;}
.dashboard-sidebar {
  width: 200px;    background-color: #343a40;
  color: white;    padding: 1rem;
  display: flex;    flex-direction: column;
}
.dashboard-sidebar ul {    list-style-type: none;
  padding: 0;}
.dashboard-sidebar li {
  margin-bottom: 1rem;}
.dashboard-sidebar a {
  color: white;    text-decoration: none;
}
.dashboard-main {    flex: 1;
  padding: 2rem;    overflow-y: auto;
}
.charts-container {
  display: flex;    flex-direction: column;
  align-items: center;    gap: 20px;
  width: 100%;
  color: #323a43;}
.separator {
  display: block;    border: 0;
  height: 1px;    margin: -10px 0;
  background: #e0e0e0;    width: 100%;
}
.map-section {    margin-top: 2rem;
  width: 100%;    display: flex;
  background-color: #ccc;    padding: 1rem;
  align-items: center; justify-content: center;
  border-radius: 8px;    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.children-container {    display: flex;
  flex-wrap: wrap;    max-height: 500px;
  justify-content: center; gap: 20px;
  align-items: center;    margin-top: 20px;
  overflow-y: auto;}
.child-card {
  width: 50%;    margin: 1%;
  padding: 20px;    border: 2px solid #ddd;
  border-radius: 15px;    text-align: center;
  align-items: center; justify-content: center;
  background-color: #ddd;    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user-label {    font-weight: bold;
  color: #666;    margin-bottom: 5px;
}
.child-card p {    margin: 5px 0;
  color: #333;}
.form-input {
  width: 100%;    padding: 8px;
  margin: 8px 0;    border: 1px solid #ccc;
  border-radius: 4px;    box-sizing: border-box;
}
.btn {    background-color: #007bff;
  color: white;    padding: 10px 15px;
  border: none;    border-radius: 4px;
  cursor: pointer;    margin-top: 10px;
}
.btn:hover {    background-color: #0056b3;
}
.delete-btn {    background-color: #ff4d4d;
  color: white;    padding: 10px 15px;
  border: none;    border-radius: 4px;
  cursor: pointer;    margin-top: 10px;
}
.delete-btn:hover {    background-color: #cc0000;
}
.pagination {    display: flex;
  justify-content: center;    margin-top: 20px;
}
.pagination button {
  background-color: #007bff;    color: white;
  border: none;    padding: 10px 15px;
  margin: 0 5px;    cursor: pointer;
  border-radius: 4px;}
.pagination button:hover {
  background-color: #0056b3;}
.pagination button:disabled {
  background-color: #ccc;    cursor: not-allowed;
}
.toggle-button {
  margin-bottom: 10px;}
.switch {
  position: relative;    display: inline-block;
  width: 60px;    height: 34px;
}
.switch input {
  opacity: 0;    width: 0;
  height: 0;}
.slider {
  position: absolute;    cursor: pointer;
  top: 0;    left: 0;
  right: 0;    bottom: 0;
  background-color: #ccc;
  transition: .4s;    border-radius: 34px;
}
.slider:before {
  position: absolute;    content: "";
  height: 26px;    width: 26px;
  left: 4px;
  bottom: 4px;    background-color: white;
  transition: .4s;    border-radius: 50%;
}
input:checked + .slider {    background-color: #007bff;
}
input:checked + .slider:before {    transform: translateX(26px);
}
.pagination {    display: flex;
  justify-content: center;    margin-top: 20px;
}
.pagination button {
  background-color: #007bff;    color: white;
  border: none;    padding: 10px 15px;
  margin: 0 5px;    cursor: pointer;
  border-radius: 4px;}
.pagination button:hover {
  background-color: #0056b3;}
.pagination button:disabled {
  background-color: #ccc;    cursor: not-allowed;
}
.pagination-controls {    display: flex;
  justify-content: space-between;    margin-bottom: 20px;
}
.pagination-controls label {    font-size: 1rem;
  color: #666;}
.pagination-controls input {
  width: 60px;    padding: 5px;
  margin-left: 10px;    border: 1px solid #ccc;
  border-radius: 4px;}